<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STC Intro</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<header>
   <h1>Azure Intro generator</h1>
</header>
<body>
    <main>
        <form action="/api" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" style="width: 95%;">
            <label for="desc">Description</label>
            <input type="text" name="desc" style="width: 95%;">
            <input type="submit" value="Generate">
        </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/js-base64@2.5.2/base64.min.js"></script>
</body>
</html>